<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<bean id="mainAction" class="com.ywh.web.action.MainAction"></bean>
	<bean id="fileAction" class="com.ywh.web.action.FileAction">
		<property name="fileBiz" ref="fileBizImpl"></property>
		<property name="userBiz" ref="userBizImpl"></property>
	</bean>
	<bean id="categoryAction" class="com.ywh.web.action.CategoryAction">
		<property name="categoryBiz" ref="categoryBizImpl"></property>
	</bean>
	<bean id="videoAction" class="com.ywh.web.action.VideoAction">
		<property name="videoBiz" ref="videoBizImpl"></property>
		<property name="categoryBiz" ref="categoryBizImpl"></property>
	</bean>
	<bean id="userAction" class="com.ywh.web.action.UserAction">
		<property name="userBiz" ref="userBizImpl"></property>
		<property name="videoBiz" ref="videoBizImpl"></property>
	</bean>
	<bean id="commentAction" class="com.ywh.web.action.CommentAction">
		<property name="commentBiz" ref="commentBizImpl"></property>
	</bean>
</beans>