<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

<session-factory>
	<!--
		<property name="dialect"> org.hibernate.dialect.MySQLDialect
		</property> <property
		name="connection.username">${username}</property> <property
		name="connection.password">${password}</property> <property
		name="connection.driver_class"> ${driverClassName} </property>
		<property name="hibernate.show_sql">true</property>
	-->
	<property name="myeclipse.connection.profile">
		com.mysql.jdbc.Driver
	</property>
	<property name="connection.url">
		jdbc:mysql://localhost:3306/speedvideo
	</property>
	<property name="connection.username">root</property>
	<property name="connection.password">123456</property>
	<property name="connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<property name="connection.autocommit">true</property>
	<mapping resource="hibernate/hbm/Category.hbm.xml" />
	<mapping resource="hibernate/hbm/Video.hbm.xml" />
	<mapping resource="hibernate/hbm/User.hbm.xml" />

</session-factory>

</hibernate-configuration>