<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<bean id="categoryBizImpl" class="com.ywh.biz.impl.CategoryBizImpl">
		<property name="categoryDao" ref="categoryDaoImpl"></property>
	</bean>
	<bean id="fileBizImpl" class="com.ywh.biz.impl.FileBizImpl">
		<property name="fileDao" ref="fileDaoImpl"></property>
	</bean>
	<bean id="videoBizImpl" class="com.ywh.biz.impl.VideoBizImpl">
		<property name="videoDao" ref="videoDaoImpl"></property>
	</bean>
	<bean id="userBizImpl" class="com.ywh.biz.impl.UserBizImpl">
		<property name="userDao" ref="userDaoImpl"></property>
	</bean>
</beans>